.myPersona {
  width: 300px;
  opacity: 0.85;
  border-radius: 50%;
  margin-bottom: 30px;
  border: solid 2.5px #17a2b8;
}

.myRole {
  color: grey;
  margin-bottom: 20px;
}

.myName {
  color: #17a2b8;
}